/*=Variables---------------------------------------------------------------------------*/
:root {
  --black: rgb(0 0 0 / 42%);
  --white: #ffffff;
}

/*=Global
---------------------------------------*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: #ff605d;
  background-color: var(--white);
  box-shadow: 0 0 150px rgba(0, 0, 0, 0.1) inset;
  color: #000000;
  font-size: 18px;
  font-family: "AkzidenzGrotesk-Light", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: background 0.8s cubic-bezier(0.63, 0.34, 0.57, 0.81);
  -o-transition: background 0.8s cubic-bezier(0.63, 0.34, 0.57, 0.81);
  transition: background 0.8s cubic-bezier(0.63, 0.34, 0.57, 0.81);
  overflow-x: hidden;
}

body.page-transitioning {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 25px;
  margin-top: 0;
  line-height: 1.2;
  color: #000000;
}

h1 {
  font-size: 5.8vw;
  line-height: 0.86;
  margin-left: -5px;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2.1vw;
}

p {
  margin: 0 0 20px 0;
  line-height: 1.5;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

ul {
  margin: 0;
}

::-webkit-input-placeholder {
  color: #000000;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #000000;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

input:focus {
  outline: none;
}

a {
  color: #000000;
}

a:focus,
a:hover {
  outline: 0;
  text-decoration: none;
  color: #333333;
}

@-ms-viewport {
  width: auto;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

html,
body {
  height: 100%;
}

body.loading #header {
  opacity: 0;
  -webkit-transition: all 1s ease-in 4s;
  -o-transition: all 1s ease-in 4s;
  transition: all 1s ease-in 4s;
}

body.loading section.hero .anime-elem4 {
  opacity: 0;
  -webkit-transition: opacity 2s ease 4s;
  -o-transition: opacity 2s ease 4s;
  transition: opacity 2s ease 4s;
}

body.loading #wrapper-main {
  opacity: 0;
  -webkit-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  transition: opacity 2s ease;
}

body.loading #footer {
  opacity: 0;
  -webkit-transition: all 1s ease-in 4s;
  -o-transition: all 1s ease-in 4s;
  transition: all 1s ease-in 4s;
}

#header {
  opacity: 1;
  -webkit-transition: all 1s ease-out 4s;
  -o-transition: all 1s ease-out 4s;
  transition: all 1s ease-out 4s;
  position: absolute;
  padding: 40px 0 0;
  z-index: 2;
  width: 100%;
}

#header .logo {
  display: inline-block;
  font: 20px "AkzidenzGrotesk-Medium", sans-serif;
  color: #ffffff;
  text-shadow: 1px 1px 1px #00000026;
}

#header .logo span {
  color: #000000;
  padding-left: 1px;
}

.primary-nav {
  font: 12px "AkzidenzGrotesk-Medium", sans-serif;
  list-style-type: none;
}

.primary-nav li {
  display: inline-block;
}

.primary-nav li a {
  color: var(--black);
}

.primary-nav li:not(:first-child) {
  padding-left: 20px;
}

.bg-animate {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.bg-animate svg {
  width: 100%;
  position: relative;
  top: -38px;
}

.bg-animate svg#Layer_2 {
  position: absolute;
}

section.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
}
section.hero .container-fluid {
  display: flex;
  align-items: center;
}

section.hero .banner-layer-1 {
  width: 90vw;
}

section.hero .banner-layer-2 {
  position: absolute;
  top: 88vh;
  left: 41vw;
}

section.hero .banner-layer-3 {
  color: #ffffff;
  -webkit-transition: opacity 2s ease-out 3s;
  -o-transition: opacity 2s ease-out 3s;
  transition: opacity 2s ease-out 3s;
  margin: 0 auto;
}

section.hero .feat-works-prompt {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1.9px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #ffffff;
  opacity: 1;
  -webkit-transition: opacity 1s ease-out 4s;
  -o-transition: opacity 1s ease-out 4s;
  transition: opacity 1s ease-out 4s;
}

section.hero .feat-works-prompt .txt-wrap {
  position: relative;
}

section.hero .feat-works-prompt .txt-wrap:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 120px;
  background-color: #fff;
  left: calc(50% - 1px);
  top: calc(100% + 10px);
}

#main {
  height: 100vh;
}

h1 {
  font-family: "AkzidenzGrotesk-Medium", sans-serif;
}

h1 span {
  display: block;
  font-family: "AkzidenzGrotesk-Light", sans-serif;
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

#wrapper-main {
  min-height: 100vh;
  position: relative;
}

html .svg-animate .st0 {
  -webkit-animation: dash 5s ease-out 1s 1 forwards;
  animation: dash 5s ease-out 1s 1 forwards;
}

#wrapper-main {
  opacity: 1;
  -webkit-transition: opacity 2s ease;
  -o-transition: opacity 2s ease;
  transition: opacity 2s ease;
}

p.title {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: var(--black);
}
.services {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: var(--black);
  padding: 0;
  margin: 0 0 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
}
.services li {
}
.services li:not(:last-child) {
  margin-right: 16px;
}
p.title span.seperator {
  width: 3px;
  height: 1px;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  margin: 0 7px;
}

.st0 {
  fill: none;
  stroke-width: 0.5989;
  stroke-miterlimit: 10;
  stroke: var(--black);
}

.anime-elem1,
.anime-elem2,
.anime-elem3,
.anime-elem4 {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
  opacity: 1;
  -webkit-transition: all 1s ease-out 4s;
  -o-transition: all 1s ease-out 4s;
  transition: all 1s ease-out 4s;
}

#footer .copyright {
  font-size: 12px;
  font-family: "AkzidenzGrotesk-Medium", sans-serif;
  color: var(--black);
}

@media (max-width: 575px) {
  section.hero .container-fluid {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  section.hero .banner-layer-3 {
    display: flex;
    flex-direction: column-reverse;
    margin: 20px 0 0 12%;
    align-self: flex-start;
  }
  .services {
    width: 100%;
    flex-direction: column;
    text-align: left;
  }
  .services li:not(:last-child) {
    margin-bottom: 7px;
  }
}
@media (min-width: 576px) {
  section.hero .banner-layer-1 {
    width: 43vw;
    margin-left: 5vw;
  }
}
@media (min-width: 768px) {
  .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }
  #header .logo {
    font-size: 27px;
  }
  .services {
    flex-direction: row;
  }
  .primary-nav,
  #footer .copyright {
    font: 14px "AkzidenzGrotesk-Medium", sans-serif;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
  .services {
    font-size: 11px;
  }
}
@media (min-width: 1400px) {
}
