/*=Variables---------------------------------------------------------------------------*/
:root {
  --black: rgb(0 0 0 / 42%);
  --dark-black: #1a1a1a;
  --white: #ffffff;
  --yellow: #ffcf43;
  --orange: #ff605d;
}

/*=Global
---------------------------------------*/

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--white);
  color: #000000;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: background 0.8s cubic-bezier(0.63, 0.34, 0.57, 0.81);
  -o-transition: background 0.8s cubic-bezier(0.63, 0.34, 0.57, 0.81);
  transition: background 0.8s cubic-bezier(0.63, 0.34, 0.57, 0.81);
  overflow-x: hidden;
}

body.page-transitioning {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 25px;
  margin-top: 0;
  line-height: 1.2;
  color: #000000;
}

h1 {
  font-size: 11vw;
  line-height: 0.86;
  margin-left: -5px;
  font-weight: 600;
}

h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2.1vw;
}

p {
  margin: 0 0 20px 0;
  line-height: 1.5;
}

img {
  width: auto;
  height: auto;
  max-width: 100%;
}

ul {
  margin: 0;
}

::-webkit-input-placeholder {
  color: #000000;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #000000;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #000000;
}

:-ms-input-placeholder {
  color: #000000;
}

input:focus {
  outline: none;
}

a {
  color: #000000;
}

a:focus,
a:hover {
  outline: 0;
  text-decoration: none;
  color: #333333;
}

@-ms-viewport {
  width: auto;
}

img {
  max-width: 100%;
  height: auto;
  width: auto;
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

html,
body {
  /* height: 100%; */
}

body.loading #header,
body.loading #page,
body.loading section.hero .anime-elem4,
body.loading .portfolio,
body.loading #footer {
  opacity: 0;
}

#header,
.portfolio,
section.hero .anime-elem4,
#footer {
  opacity: 1;
  -webkit-transition: all 1s ease-out 3.2s;
  -o-transition: all 1s ease-out 3.2s;
  transition: all 1s ease-out 3.2s;
}
#header {
  width: 100%;
  background-color: var(--white);
  z-index: 2;
  padding: 20px 0 0;
}

#header .logo {
  display: inline-block;
  font-size: 20px;
  position: relative;
  line-height: 1;
}
body.loading #header .logo:before {
  width: 0;
}
#header .logo:before {
  content: "";
  width: 28px;
  height: 26px;
  background: var(--yellow);
  display: block;
  transition: width 1s cubic-bezier(0.63, 0.34, 0.57, 0.81) 3.3s;
}
#header .logo span {
  color: #fff;
  padding-left: 1px;
  position: absolute;
  top: 4px;
  mix-blend-mode: difference;
  left: 7px;
  font-weight: 300;
}

.primary-nav {
  font-size: 12px;
  list-style-type: none;
}

.primary-nav li {
  display: inline-block;
}

.primary-nav li a {
  color: var(--black);

}

.primary-nav li:not(:first-child) {
  padding-left: 20px;
}

.bg-animate {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}

.bg-animate svg {
  width: 100%;
  position: relative;
  top: -38px;
}

.bg-animate svg#Layer_2 {
  position: absolute;
}

section.hero {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  padding: 0 20px 50px;
}
section.hero .container-fluid {
  display: flex;
  align-items: center;
}

section.hero .banner-layer-1 {
  width: 95vw;
  margin-left: -115px;
}

section.hero .banner-layer-2 {
  position: absolute;
  top: 88vh;
  left: 41vw;
}

section.hero .banner-layer-3 {
  color: #ffffff;
  -webkit-transition: opacity 2s ease-out 3s;
  -o-transition: opacity 2s ease-out 3s;
  transition: opacity 2s ease-out 3s;
  margin: 0 auto;
}

section.hero .feat-works-prompt {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1.9px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #ffffff;
  opacity: 1;
  -webkit-transition: opacity 1s ease-out 4s;
  -o-transition: opacity 1s ease-out 4s;
  transition: opacity 1s ease-out 4s;
}

section.hero .feat-works-prompt .txt-wrap {
  position: relative;
}

section.hero .feat-works-prompt .txt-wrap:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 120px;
  background-color: #fff;
  left: calc(50% - 1px);
  top: calc(100% + 10px);
}

#main {
  height: 100vh;
}

h1 {
  font-family: "Inter", sans-serif;
}

h1 span {
  display: block;
  font-family: "Inter", sans-serif;
}

.container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}

#page {
  min-height: 100vh;
  position: relative;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

html .svg-animate .st0 {
  -webkit-animation: dash 7s ease-out 1s 1 forwards;
  animation: dash 7s ease-out 1s 1 forwards;
}

#page {
  opacity: 1;
  -webkit-transition: opacity 1.5s ease;
  -o-transition: opacity 1.5s ease;
  transition: opacity 1.5s ease;
}

p.title {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 1.5px;
  color: var(--black);
}
.services {
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1.5px;
  color: var(--dark-black);
  padding: 0;
  margin: 0 0 20px;
  list-style-type: none;
  display: flex;
  flex-direction: column-reverse;
  display: none;
}
.services li {
}
.services li:not(:last-child) {
  margin-right: 16px;
}
.full--name {
  font-weight: 700;
  text-transform: capitalize;
}
.full--name span {
  font-weight: 300;
}
.intro {
  color: var(--dark-black);
  max-width: 630px;
  font-size: 1.4rem;
}
p.title span.seperator {
  width: 3px;
  height: 1px;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  margin: 0 7px;
}

.st0 {
  fill: none;
  stroke-width: 0.5989;
  stroke-miterlimit: 10;
  stroke: var(--black);
}

.anime-elem1,
.anime-elem2,
.anime-elem3,
.anime-elem4 {
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.portfolio {
  padding: 0 0 150px;
}
.portfolio .container-fluid {
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 13%;
}
.portfolio--item {
  margin: 0 0 150px;
  position: relative;
  width: 100%;
  display: flex;
}
.portfolio--item:nth-child(2n + 1) {
  margin-top: 100px;
}
.portfolio--item:nth-child(2n) {
  justify-content: flex-end;
}
.portfolio--thumb {
  position: relative;
  width: 100%;
}
.portfolio--thumb a {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 420px;
  width: 100%;
  background-color: var(--yellow);
  overflow: hidden;
}
.portfolio--thumb a img {
  filter: brightness(0) invert(0);
  max-width: 70%;
  max-height: 90px;
  margin-bottom: 30px;
}
.portfolio--item:nth-child(2n) .portfolio--details {
  left: auto;
  right: -20px;
  text-align: right;
}
.portfolio--details {
  position: absolute;
  top: 10px;
  left: -20px;
  width: 222px;
}
h2.portfolio--title,
.portfolio--details_text,
.portfolio--link {
  color: var(--dark-black);
}

h2.portfolio--title {
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.portfolio--details_text {
  margin-bottom: 0;
}

#footer {
  position: absolute;
  width: 100%;
  bottom: 10px;
}

#footer .copyright {
  font-size: 12px;
  font-family: "Inter", sans-serif;
  color: var(--black);
}

@media (max-width: 575px) {
  section.hero .container-fluid {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  section.hero .banner-layer-3 {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 7%;
    align-self: flex-start;
  }
  .services {
    width: 100%;
    flex-direction: column;
    text-align: left;
  }
  .services li:not(:last-child) {
    margin-bottom: 7px;
  }
}
@media (min-width: 576px) {
  #header {
    position: absolute;
    padding: 40px 0 0;
  }
  h1 {
    font-size: 5.5vw;
  }

  section.hero .banner-layer-1 {
    width: 62vw;
    min-width: 370px;
    margin-left: 0;
  }
  section.hero {
    padding: 70px 0 ;
  }
}
@media (min-width: 768px) {
  #header .logo span {
    top: 4px;
  }
  .container-fluid {
    padding-left: 40px;
    padding-right: 40px;
  }
  #header .logo {
    font-size: 27px;
  }
  #header .logo:before {
    width: 35px;
    height: 34px;
  }
  .intro {
    font-size: 1.5rem;
    line-height: 1.8;
  }  
  .services {
    flex-direction: row;
  }
  .primary-nav,
  #footer .copyright {
    font-size: 14px;
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 5.5vw;
  }
  h2.portfolio--title {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .portfolio--item:nth-child(2n) .portfolio--details {
    right: -50px;
  }
  .portfolio--details {
    left: -50px;
  }
  .portfolio .container-fluid {
    padding: 0 14%;
  }
  .portfolio--item {
    width: 50%;
  }
  .portfolio--thumb {
    width: calc(100% - 20px);
  }
  .portfolio--thumb a {
    height: 560px;
    align-items: center;
  }
  .portfolio--thumb a img {
    max-height: 120px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  section.hero .banner-layer-1 {
    width: 42vw;
    margin-left: 5vw;
  }
  section.hero {
    height: initial;
    padding-top: 75px;
  }
  .services {
    font-size: 11px;
  }
}
@media (min-width: 1400px) {
  .portfolio--thumb {
    width: 450px;
  }
}
