:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: "AkzidenzGrotesk-Light";
  src: url("../fonts/akzidenzgrotesk/AkzidenzGrotesk-Light.eot");
  src: url("../fonts/akzidenzgrotesk/AkzidenzGrotesk-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/akzidenzgrotesk/AkzidenzGrotesk-Light.woff") format("woff"),
    url("../fonts/akzidenzgrotesk/AkzidenzGrotesk-Light.ttf") format("truetype"),
    url("../fonts/akzidenzgrotesk/AkzidenzGrotesk-Light.svg#AkzidenzGrotesk-Light")
      format("svg");
}

@font-face {
  font-family: "AkzidenzGrotesk-Medium";
  src: url("../fonts/akzidenzgrotesk/AkzidenzGrotesk-Medium.eot");
  src: url("../fonts/akzidenzgrotesk/AkzidenzGrotesk-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/akzidenzgrotesk/AkzidenzGrotesk-Medium.woff") format("woff"),
    url("../fonts/akzidenzgrotesk/AkzidenzGrotesk-Medium.ttf")
      format("truetype"),
    url("../fonts/akzidenzgrotesk/AkzidenzGrotesk-Medium.svg#AkzidenzGrotesk-Medium")
      format("svg");
}
